*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    border: 2px solid black;
    padding: 24px;
    border-radius: 8px;
}

input{
    padding: 20px;
    text-align: right;
    outline: none;
    margin: 10px;
    width: 230px;
    font-size: 20px;
}

button{
    margin: 10px;
    height: 40px;
    width: 40px;
}